name: functions_client

on:
  push:
    branches:
      - main
    paths:
      - 'packages/functions_client/**'
      - '.github/workflows/functions_client.yml'
      - '.github/workflows/dart-package-test.yml'
      - 'packages/yet_another_json_isolate/**'

  pull_request:
    paths:
      - 'packages/functions_client/**'
      - '.github/workflows/functions_client.yml'
      - '.github/workflows/dart-package-test.yml'
      - 'packages/yet_another_json_isolate/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/dart-package-test.yml
    with:
      package-name: functions_client
      working-directory: packages/functions_client
      melos-no-flutter: true
