name: postgrest

on:
  push:
    branches:
      - main
    paths:
      - 'packages/postgrest/**'
      - '.github/workflows/postgrest.yaml'
      - 'packages/yet_another_json_isolate/**'

  pull_request:
    paths:
      - 'packages/postgrest/**'
      - '.github/workflows/postgrest.yaml'
      - 'packages/yet_another_json_isolate/**'

jobs:
  test:
    name: Test SDK ${{ matrix.sdk }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        sdk: [stable, beta, dev]

    defaults:
      run:
        working-directory: packages/postgrest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checks-out repo
        uses: actions/checkout@v2

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Bootstrap workspace
        run: |
          cd ../../
          dart pub global activate melos
          melos bootstrap --ignore="supabase_flutter"

      - name: dartfmt
        if: ${{ matrix.sdk == 'stable'}}
        run: dart format lib test -l 80 --set-exit-if-changed

      - name: analyzer
        run: dart analyze --fatal-warnings --fatal-infos .

      - name: Build Docker image
        run: |
          cd ../../infra/postgrest
          docker-compose down
          docker-compose up -d

      - name: Sleep for 5 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '5s'

      - name: Run tests
        run: dart test --concurrency=1
