name: postgrest

on:
  push:
    branches:
      - main
    paths:
      - 'packages/postgrest/**'
      - '.github/workflows/postgrest.yml'
      - '.github/workflows/dart-package-test.yml'
      - 'packages/yet_another_json_isolate/**'

  pull_request:
    paths:
      - 'packages/postgrest/**'
      - '.github/workflows/postgrest.yml'
      - '.github/workflows/dart-package-test.yml'
      - 'packages/yet_another_json_isolate/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/dart-package-test.yml
    with:
      package-name: postgrest
      working-directory: packages/postgrest
      needs-docker: true
      docker-compose-dir: infra/postgrest
      test-concurrency: 1
