name: realtime_client

on:
  push:
    branches:
      - main
    paths:
      - 'packages/realtime_client/**'
      - '.github/workflows/realtime_client.yml'
      - '.github/workflows/dart-package-test.yml'

  pull_request:
    paths:
      - 'packages/realtime_client/**'
      - '.github/workflows/realtime_client.yml'
      - '.github/workflows/dart-package-test.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/dart-package-test.yml
    with:
      package-name: realtime_client
      working-directory: packages/realtime_client
      test-concurrency: 1
