name: storage_client

on:
  push:
    branches:
      - main
    paths:
      - 'packages/storage_client/**'
      - '.github/workflows/storage_client.yml'
      - '.github/workflows/dart-package-test.yml'

  pull_request:
    paths:
      - 'packages/storage_client/**'
      - '.github/workflows/storage_client.yml'
      - '.github/workflows/dart-package-test.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/dart-package-test.yml
    with:
      package-name: storage_client
      working-directory: packages/storage_client
      needs-docker: true
      docker-compose-dir: infra/storage_client
      test-concurrency: 1
