name: supabase

on:
  push:
    branches:
      - main
    paths:
      - 'packages/supabase/**'
      - '.github/workflows/supabase.yaml'
      - 'packages/functions_client/**'
      - 'packages/gotrue/**'
      - 'packages/postgrest/**'
      - 'packages/realtime_client/**'
      - 'packages/storage_client/**'

  pull_request:
    paths:
      - 'packages/supabase/**'
      - '.github/workflows/supabase.yaml'
      - 'packages/functions_client/**'
      - 'packages/gotrue/**'
      - 'packages/postgrest/**'
      - 'packages/realtime_client/**'
      - 'packages/storage_client/**'

jobs:
  test:
    name: Test SDK ${{ matrix.sdk }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        sdk: [stable, beta, dev]

    defaults:
      run:
        working-directory: packages/supabase

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checks-out repo
        uses: actions/checkout@v2

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Bootstrap workspace
        run: |
          cd ../../
          dart pub global activate melos
          melos bootstrap --ignore="supabase_flutter"

      - name: dartfmt
        if: ${{ matrix.sdk == 'stable'}}
        run: dart format lib test -l 80 --set-exit-if-changed

      - name: analyzer
        run: dart analyze --fatal-warnings --fatal-infos .

      - name: Run tests
        run: dart test --concurrency=1
