name: supabase_flutter

on:
  push:
    branches:
      - main
    paths:
      - 'packages/supabase_flutter/**'
      - '.github/workflows/supabase_flutter.yaml'
      - 'packages/functions_client/**'
      - 'packages/gotrue/**'
      - 'packages/postgrest/**'
      - 'packages/realtime_client/**'
      - 'packages/storage_client/**'
      - 'packages/supabase/**'

  pull_request:
    paths:
      - 'packages/supabase_flutter/**'
      - '.github/workflows/supabase_flutter.yaml'
      - 'packages/functions_client/**'
      - 'packages/gotrue/**'
      - 'packages/postgrest/**'
      - 'packages/realtime_client/**'
      - 'packages/storage_client/**'
      - 'packages/supabase/**'

jobs:
  test:
    name: Test Flutter v${{ matrix.flutter-version }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        flutter-version: ['3.10.x', '3.x']

    defaults:
      run:
        working-directory: packages/supabase_flutter

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checks-out repo
        uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'

      - run: flutter --version

      - name: Bootstrap workspace
        run: |
          cd ../../
          dart pub global activate melos
          melos bootstrap

      - name: flutterfmt
        if: ${{ matrix.sdk == '3.x'}}
        run: dart format lib test -l 80 --set-exit-if-changed

      - name: analyzer
        if: ${{ matrix.sdk == '3.x'}}
        run: flutter analyze --fatal-warnings --fatal-infos .

      - name: Run tests
        run: flutter test --concurrency=1

      - name: Run tests with downgraded packages
        run: |
          flutter pub downgrade
          flutter test --concurrency=1
