name: yet_another_json_isolate

on:
  push:
    branches:
      - main
    paths:
      - 'packages/yet_another_json_isolate/**'
      - '.github/workflows/yet_another_json_isolate.yml'
      - '.github/workflows/dart-package-test.yml'

  pull_request:
    paths:
      - 'packages/yet_another_json_isolate/**'
      - '.github/workflows/yet_another_json_isolate.yml'
      - '.github/workflows/dart-package-test.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/dart-package-test.yml
    with:
      package-name: yet_another_json_isolate
      working-directory: packages/yet_another_json_isolate
