name: yet_another_json_isolate

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test SDK ${{ matrix.sdk }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        sdk: [stable, beta, dev]

    defaults:
      run:
        working-directory: packages/yet_another_json_isolate

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checks-out repo
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Bootstrap workspace
        run: |
          cd ../../
          dart pub global activate melos
          melos bootstrap --no-flutter

      - name: dartfmt
        if: ${{ matrix.sdk == 'stable'}}
        run: dart format lib test -l 80 --set-exit-if-changed

      - name: analyzer
        if: ${{ matrix.sdk == 'stable'}}
        run: dart analyze --fatal-warnings --fatal-infos .

      - name: analyzer
        if: ${{ matrix.sdk == 'beta' || matrix.sdk == 'dev' }}
        run: dart analyze

      - name: Run tests
        run: dart test
